*.pyc
*.so
*.o
faster_rcnn_models
*.ckpt
VOCdevkit
data/cache
data/pretrain_model
data/VOCdevkit2007
debug.*
experiments/logs/
output/
data/demo/*
build/*
lib_fast_rcnn/build/*
dist/*
*.egg-info/*
lib_fast_rcnn/*.egg-info/*
*.swp
